html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.hidden {
    display: none;
}

/* main header rules */

header {
    background-color: red;
    padding: 10px 0px;
}

#main-logo {
    width: 300px;
    display: block;
    margin: 0px auto;
}

#character_nav {
    background-color: #675050;
    background-image: url('../images/characters_art_mas_mob_01.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.characters {
    list-style-type: none;
    padding: 0;
}

.characters li {
    height: 220px;
    margin: 10px 8px;
    background-color: black;
    text-align: left;
    cursor: pointer;
}